<form autocomplete="off" onsubmit="event.preventDefault();">
  <div class="form-group">
    <label>{{localize "MARKET.MoneyNeeded"}}</label>
    <input style="text-align: center" id="needed" type="text" value="{{neededText}} {{currency}}" readonly>
  </div>
  <div class="form-group">
    <label>{{localize "MARKET.MoneyAvailable"}}</label>
    <input style="text-align: center" id="total" type="text" value="{{totalText}} {{currency}}" readonly>
  </div>
  <div class="directory">
    <ol class="directory-list">
      {{#each fields as |item i|}}
        <li class="directory-item document flexrow {{item.active}}" title="{{item.regionName}}" data-index="{{i}}" data-converted="{{item.converted}}">
          <img class="thumbnail" src="{{item.img}}">
          <h4 class="document-name">{{item.name}}</h4>
        </li>
      {{/each}}
    </ol>
  </div>
  <div class="dialog-buttons">
    <button type="button" data-action="pay"><i class="fas fa-check"></i>{{localize "MARKET.PayForItem"}}</button>
    <button type="button" data-action="cancel"><i class="fas fa-times"></i>{{localize "Cancel"}}</button>
  </div>
</form>