<form autocomplete="off" onsubmit="event.preventDefault();">
  <div style="display: flex;justify-content: space-between;">
    <div style="flex: 1;padding: 5px">
      <h2 style="text-align: center;font-family: CaslonAntique,serif;font-variant: small-caps;font-weight: bold">Spent: {{experienceSpent}} ({{experienceSpentCalculated}})</h2>
      <div style="height: 500px;overflow-y: scroll">
        <table>
          <tr>
            <th style="text-align: center">Experience</th>
            <th style="text-align: center">Reason</th>
          </tr>
          {{#each spentLog as |entry id|}}
            <tr class="exp-row" name="{{id}}">
              <td style="text-align: center;color: {{entry.color}}">{{entry.value}}</td>
              <td style="text-align: center;color: {{entry.color}}">{{entry.name}}{{#if (gt entry.entries.length 1)}} ({{entry.entries.length}}){{/if}}</td>
            </tr>
          {{/each}}
        </table>
      </div>
    </div>
    <div style="flex: 1;padding: 5px">
      <h2 style="text-align: center;font-family: CaslonAntique,serif;font-variant: small-caps;font-weight: bold">Gained: {{ experienceGained }} ({{experienceGainedCalculated}})</h2>
      <div style="height: 500px;overflow-y: scroll">
        <table>
          <tr>
            <th style="text-align: center">Experience</th>
            <th style="text-align: center">Reason</th>
          </tr>
          {{#each gainedLog as |entry id|}}
            <tr class="exp-row" name="{{id}}">
              <td style="text-align: center">{{entry.value}}</td>
              <td style="text-align: center">{{entry.name}}{{#if (gt entry.entries.length 1)}} ({{entry.entries.length}}){{/if}}</td>
            </tr>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit">Fix</button>
    <button type="button">Sort by Value</button>
    <button type="submit" id="next">Next</button>
  </div>
</form>